<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/habit.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,
    wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,
    100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body class="d-flex flex-column bg-light" style="min-height: 100vh;">

<header class="bg-dark text-white d-flex align-items-center px-2 position-relative justify-content-start">
        {% if user.is_authenticated %}
        <div class="me-3">
            <input type="checkbox" id="sidebar-toggle" hidden>
            <label for="sidebar-toggle" class="sidebar-icon-toggle">
                <i class="bi bi-list open-icon"></i>
                <i class="bi bi-x-lg close-icon"></i>
            </label>

            <div class="sidebar-css">
                <nav>
                    <ul>
                        <li><a href="{% url 'habit_list' %}">My habits</a></li>
                        <li><a href="{% url 'habit_add' %}">Add Habit</a></li>
                        <li><a href="{% url 'settings' %}">Account</a></li>
                        <li><a href="{% url 'more' %}">More Information</a></li>

                        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link text-white p-0 btn-logout">
                                Logout
                            </button>
                        </form>
                    </ul>
                </nav>
            </div>
        </div>
        {% endif %}

        <div class="center-title-container">
            <a href="{% url 'habit_list' %}" class="text-white text-decoration-none">
                <h1 class="habit-title">Habit Tracker</h1>
            </a>
        </div>
</header>


{% if messages %}
    {% for message in messages %}
        <div class="alert
                    {% if 'error' in message.tags %}alert-danger{% endif %}
                    {% if 'success' in message.tags %}alert-success{% endif %}
                    {% if 'info' in message.tags %}alert-info{% endif %}
                    {% if 'warning' in message.tags %}alert-warning{% endif %}
                    alert-dismissible fade show container" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<!--form error-->
{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show container" role="alert">
    {% for field in form %}
    {% for error in field.errors %}
    <div>{{ error }}</div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div>{{ error }}</div>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="d-flex flex-column">
    {% with request.resolver_match.url_name as url_name %}
    <div class="{% if url_name in 'login register password_reset password_reset_done password_reset_confirm password_reset_complete' %}auth-page{% endif %} flex-grow: 1">
        {% block content %}
        {% endblock %}
    </div>
    {% endwith %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

`