{% extends 'habit/base.html' %}

{% block header_buttons %}
<a href="{% url 'habit_list' %}" class="text-white d-flex flex-column align-items-center
            text-decoration-none">
    <i class="bi bi-arrow-left fs-4"></i>
    <span class="small">Back</span>
</a>
<a href="{% url 'habit_edit' pk=habit.pk %}" class="text-white d-flex flex-column align-items-center
            text-decoration-none">
    <i class="bi bi-gear fs-4"></i>
    <span class="small">Edit</span>
</a>

{% endblock %}

{% block content %}

<div class="w-100" style="background-color: {{ habit.color }};">
    <h1 class="text-center fs-3 py-4 text-white">
        {{ habit.name }}
    </h1>
</div>

{% include 'habit/habit_calendar.html' %}

<div class="habit_info w-100 d-flex justify-content-center align-items-center" style="min-height: 70px;">
    <h3 class="text-center fs-3 ">Habit Info</h3>
</div>

<div class="container mt-3">
    <p><strong>Score:</strong> {{ habit.score }}%</p>
    <p><strong>Day in a row:</strong> {{ habit.current_streak }}</p>
    <p><strong> Longest streak:</strong> {{ habit.best_streak }}</p>
    <p><strong>Created:</strong> {{ habit.created_at|date:"Y-m-d" }}</p>
    <p><strong>Description:</strong> {{ habit.description }}</p>

</div>

<div class="habit_info w-100 d-flex justify-content-center align-items-center" style="min-height: 70px;">
    <h3 class="text-center fs-3">Danger Zone</h3>
</div>
<div class="container mt-3 pb-5">
    <button class="btn btn-danger">
        <a href="{% url 'habit_delete' pk=habit.pk %}" class="text-white text-decoration-none">Delete Habit</a>
    </button>
</div>
{% load static %}
<script src="{% static 'js/habit_detail.js' %}"></script>
{% endblock %}
