{% extends 'habit/base.html' %}

{% block content %}
<div class="container mt-5 ">
    <h2 class="habit_heading fs-3 text-center">New Habit</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="habit-form" method="POST" class="post-form mt-4">{% csrf_token %}
                <div class="form-group d-flex flex-column">
                    <label for="name-field" class="form-label fs-5">Habit Name</label>
                    {{ form.name }}
                    <label for="description-field" class="form-label pt-3 fs-5">Description</label>
                    {{ form.description }}
                    <label for="color-field" class="form-label pt-3 fs-5">Color</label>
                    <div>{{ form.color }}</div>
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn-submit btn-lg fs-5">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}