{% load custom_filters %}
<div class="container my-3">
    <div class="d-flex justify-content-between align-items-center my-2">
        <form method="get" action="">
            <input type="hidden" name="month" value="{{ prev_month.month }}">
            <input type="hidden" name="year" value="{{ prev_month.year }}">
            <button type="submit" class="arrow-btn">&lt;</button>
        </form>

        <h2 class="fs-3 text-center m-0">{{ month_name }} {{ year }}</h2>

        <form method="get" action="">
            <input type="hidden" name="month" value="{{ next_month.month }}">
            <input type="hidden" name="year" value="{{ next_month.year }}">
            <button type="submit" class="arrow-btn">&gt;</button>
        </form>
    </div>

    <form id="calendar-form" method="post" action="{% url 'update_habit_calendar' pk=habit.pk %}" class="mt-4">
        {% csrf_token %}
        <input type="hidden" name="month" value="{{ month }}">
        <input type="hidden" name="year" value="{{ year }}">
        <input type="hidden" name="day" id="selected-day">
        <input type="hidden" name="action" id="selected-action">

        <!--    Days of the week -->
        <div style="display: grid; grid-template-columns: repeat(7, 1fr); gap: 10px;">
            <div class="day-div" style="text-align: center;">Mon</div>
            <div class="day-div">Tue</div>
            <div class="day-div">Wed</div>
            <div class="day-div">Thu</div>
            <div class="day-div">Fri</div>
            <div class="day-div">Sat</div>
            <div class="day-div">Sun</div>
        </div>

        <div style="display: grid; grid-template-columns: repeat(7, 1fr); gap : 15px; margin-top: 1rem;
        justify-items: center; align-items: center;">

            {% for _ in 0|to:first_weekday %}
            <div></div>
            {% endfor %}

            {% for day in days %}
            {% with status=status_dict|get_item:day %}
            <button
                    type="button"
                    class="day-button"
                    data-day="{{ day }}"
                    data-status="{% if status %}done{% elif status == False %}not_done{% else %}none{% endif %}"
                    style="
    border: {% if today == day %}2px solid red{% else %}none{% endif %};
    background-color: {% if status %}lightgreen{% elif status == False %}lightcoral{% else %}lightgray{% endif %};
    border-radius: 50%;
          ">
                {{ day }}
            </button>
            {% endwith %}
            {% endfor %}
        </div>
    </form>
</div>

{% load static %}
<script src="{% static 'js/habit_calendar.js' %}"></script>
