{% extends 'habit/base.html' %}

{% block header_buttons %}
<a href="{% url 'habit_list' %}" class="text-white mx-3 d-flex flex-column align-items-center
            text-decoration-none">
    <i class="bi bi-arrow-left" style="font-size: 1.5rem;"></i>
    <span class="small">Back</span>
</a>
{% endblock %}

{% block content %}

<div style="text-align: center; margin-top: 50px;">
    <h1>🎉 Thank you for your engagement!</h1>
    <p>We truly appreciate you using our habit tracking app!</p>

    <h2>We'd love to hear your feedback!</h2>
    <p>If you have any suggestions, comments, or questions, please feel free to reach out!</p>

    <p><strong>Send us an email at:</strong> <a href="mailto:plociennikmateusz23@gmail.com">plociennikmateusz23@gmail.com</a>
    </p>

    <p>Your feedback is very important to us and will help us improve the app!</p>
</div>
{% endblock %}